.App {
  text-align: center;
  text-transform: uppercase;
  font-family: poppins;
}

body{
  margin: 0px;  
}

nav {
  display: flex;
  justify-content: center;
}

nav > h3 {
  margin: 0 15px;
  font-size: 20px;

}
.hero-section{
  background-color: blue;
  background: url(https://assets.codepen.io/6060109/agency-hero-image.png);
  filter: brightness(80%);
  background-size: cover;
  height: 50vh;
  color: white;
  position: relative;
}

.hero-section h2 {  
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 60%;
  color: white;
  font-size: 30px;
}

.services-section {
height: 250px;
padding-top: 10px;
box-sizing: border-box;
margin-bottom: 200px;
}

.services-section h2 {
  color: #806c6c;
}

.service-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.service-block {
  width: 25%;
  margin: 0 10px;

}

.service-block img {
  width: 70%;
}

.service-block p {
  padding-top: 4px;
  padding-bottom: 2px;
  margin: 0px;
}

.footer-section {
  height: 350px;
  background: #133588;
  padding: 40px 0px;
  box-sizing: border-box;
}

.footer-section > h2 {
  font-size: 40px;
  padding-top: 100px;
  color: white;
  width: 50%;
  margin: auto;  
}

input[type="text"] {   
  background: none;
  border:none;
  width: 15%;
  margin: 10px auto;
  border-bottom: 1px solid white;
  display: block;
  padding-bottom: 10px;
}

input[type="text"]::placeholder {
  text-align: center;
  font-size: 15px;
  color: rgba(255, 255, 255, .5);
} 

input[type="submit"] {
  color: #806c6c;
  border-radius: 0;
  border: none;
  width: 9%;
  height: 4%;
  padding: 7px 0;
}