.App {
  text-align: center;
  text-transform: uppercase;
  font-family: poppins;
}

body{
  margin: 0px;  
}

nav {
  display: flex;
  justify-content: center;
}

nav > h3 {
  margin: 0 15px;
  font-size: 20px;

}
.hero-section{
  background-color: blue;
  background: url(https://assets.codepen.io/6060109/agency-hero-image.png);
  filter: brightness(80%);
  background-size: cover;
  height: 50vh;
  color: white;
  position: relative;
}

.hero-section h2{  
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: 60%;
  color: white;
  font-size: 30px;

}

